/*base*/
a{
    text-decoration: none;
    color:#333;
}
body,html{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
}
a:hover{
    text-decoration: none;
    color:#333;
}
@font-face{
    font-family: 'wjs';
    src: url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'), /* 给IE6-IE8用 */
    url(../fonts/MiFie-Web-Font.woff) format('woff'), /* 给chrome、firefox用 */
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'), /* 给chrome、firefox、opera、Safari, Android, iOS 4.2+ 用*/
    url(../fonts/MiFie-Web-Font.svg) format('svg');
}

.wjs_icon{
    font-family: 'wjs';
}

.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_name::before{
    content: "\e93e";
}
.wjs_icon_dollar::before{
    content: "\e903";
}
.wjs_icon_clock::before{
    content: "\e906";
}
.wjs_icon_video::before{
    content: "\e905";
}

/*index*/
.topBar{
    font-size: 12px;
    color:#333;
    height:40px;
    border-bottom: 1px solid #ccc;
}

.topBar>.container>.row>div{
    height: 40px;
    text-align: center;
}
.topBar>.container>.row>div~div{
    border-left:1px solid #ccc;
    
}

.topBar>.container>.row>div> span{
  
   
    line-height: 40px;
}
.topBar>.container>.row>div>a>span{
    
   
    line-height: 40px;
}
.topBar>.container>.row>div>.logo{
    display:block;
    
    text-align: center;
    line-height: 40px;
    
    position: relative;
}
.common,.login{
    
    text-align: center;
    line-height: 40px;
    
}

.logo img{
    display:none;
    
    
}

.logo:hover img{
    display:block;
    position: absolute;
    left: 50%;
    top:40px;
    margin-left:-60px;
    border:1px solid #ccc;
    border-top:none;
    z-index:10000;

}

.topBar>.container>.row>div>.btn_wjs{
    border:none;
    font-size:12px;
    color:#fff;
    background:#e92322;
    padding:3px 12px;
    
}
.register{
    margin-left: 10px;
}

.navbar-wjs {
    
    border-bottom: 1px solid #ccc;
    margin:0;
  }
  .navbar-wjs .navbar-brand {
    color: #777;
    line-height: 50px;
      height: 80px;
  }
  .navbar-wjs .wjs_icon{
      font-size: 36px;
      
  }
  .navbar-wjs .wjs_icon_logo{
      color:#e92322;
  }
  .navbar-wjs .wjs_icon_name{
      color:#333;
  }
  .navbar-wjs .navbar-brand:hover,
  .navbar-wjs .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .navbar-wjs .navbar-text {
    color: #777;
  }
  .navbar-wjs .navbar-nav > li > a {
    display: block;
    height:80px;
    line-height: 50px;
    color: #777;
  }
  .navbar-wjs .navbar-nav > li > a:hover,
  .navbar-wjs .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom:3px solid #e92322;
  }
  .navbar-wjs .navbar-nav > .active > a,
  .navbar-wjs .navbar-nav > .active > a:hover,
  .navbar-wjs .navbar-nav > .active > a:focus {
    color: #555;
    border-bottom:3px solid #e92322;
    
  }
  .navbar-wjs .navbar-nav > .disabled > a,
  .navbar-wjs .navbar-nav > .disabled > a:hover,
  .navbar-wjs .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .navbar-wjs .navbar-toggle {
    border-color: #ddd;
    margin-top:20px;
  }
  .navbar-wjs .navbar-toggle:hover,
  .navbar-wjs .navbar-toggle:focus {
    background-color: #ddd;
  }
  .navbar-wjs .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .navbar-wjs .navbar-collapse,
  .navbar-wjs .navbar-form {
    border-color: #e7e7e7;
  }
  .navbar-wjs .navbar-nav > .open > a,
  .navbar-wjs .navbar-nav > .open > a:hover,
  .navbar-wjs .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  @media (max-width: 767px) {
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333;
      background-color: transparent;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .navbar-wjs .navbar-link {
    color: #777;
  }
  .navbar-wjs .navbar-link:hover {
    color: #333;
  }
  .navbar-wjs .btn-link {
    color: #777;
  }
  .navbar-wjs .btn-link:hover,
  .navbar-wjs .btn-link:focus {
    color: #333;
  }
  .navbar-wjs .btn-link[disabled]:hover,
  fieldset[disabled] .navbar-wjs .btn-link:hover,
  .navbar-wjs .btn-link[disabled]:focus,
  fieldset[disabled] .navbar-wjs .btn-link:focus {
    color: #ccc;
  }